[Desktop Entry]
Encoding=UTF-8
Name=Cronos
Comment=Cronos P2P Cryptocurrency
Comment[fr]=Cronos, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cronos, eşten eşe kriptografik sanal para birimi
Exec=cronos-qt %u
Terminal=false
Type=Application
Icon=cronos128
MimeType=x-scheme-handler/cronos;
Categories=Office;Finance;
