[Unit]
Description=Cronos's distributed currency daemon
After=network.target

[Service]
User=cronos
Group=cronos

Type=forking
PIDFile=/var/lib/cronosd/cronosd.pid

ExecStart=/usr/bin/cronosd -daemon -pid=/var/lib/cronosd/cronosd.pid \
          -conf=/etc/cronos/cronos.conf -datadir=/var/lib/cronosd

ExecStop=-/usr/bin/cronos-cli -conf=/etc/cronos/cronos.conf \
         -datadir=/var/lib/cronosd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
